In [1]:
import pandas as pd

In [ ]:
# import data
df = pd.read_csv("cps_00007.dat", 
                 sep="\s+", 
                 header=None,
                engine='python')

In [3]:
# CODE BOOK REFERENCE
# ------------------------- DF[0] ----------------------------- #
# 4 YEAR (Survey year)
# 2 MONTH (Month)
# 2 AGE (Age)
# 1 SEX (Sex)
# 3 RACE (Race)
# 1 MARST (Marital status)
# 1 POPSTAT (Adult civilian, armed forces, or child)
# 1 VETSTAT (Veteran status)
# 4 YRIMMIG (Year of immigration)
# 1 CITIZEN (Citizenship status)
# 1 NATIVITY (Foreign birthplace or parentage)
# 3 HISPAN (Hispanic origin)
# 2 EMPSTAT (Employment status)
# 1 LABFORCE (Labor force status)
# 4 OCC (Occupation)
# 4 IND (Industry)
# 2 CLASSWKR (Class of worker )
# 3 UHRSWORKT (Hours usually worked per week at all jobs)
# 2 WKSTAT (Full or part time status)
# 3 EDUC (Educational attainment recode)

# ------------------------- DF[1] ----------------------------- #
# 1 DIFFANY (Any difficulty)
# 8 INCWAGE (Wage and salary income)
# 2 WHYMOVE (Reason for moving)
# 1 DISABWRK (Work disability)
# 1 QUITSICK (Quit job or retired for health reasons)
# 2 PAIDGH (Employer paid for group health plan)

In [ ]:
# fill DF[1] with trailing zeros
df2 = df[1].astype(str)
df2 = df2.apply(lambda x: x.split('.')[0])
df2 = df2.apply(lambda x: x.ljust(15, '0'))

In [ ]:
# join DF[0] and DF2 together as single long string
df4 = df[0].astype(str) + df2

In [ ]:
# parse DF4 into columns based on codebook's width values
df5 = df4.str.extract('(\d{4})(\d{2})(\d{2})(\d{1})(\d{3})(\d{1})(\d{1})(\d{1})(\d{4})(\d{1})(\d{1})(\d{3})(\d{2})(\d{1})(\d{4})(\d{4})(\d{2})(\d{3})(\d{2})(\d{3})(\d{1})(\d{8})(\d{2})(\d{1})(\d{1})(.*)')

In [ ]:
# fix column 25 for extra numbers
df5[25] = df5[25].astype(str).str[:2]

In [18]:
# change DF5 to final_df, add col names, change final_df to numeric type
final_df = df5
final_cols = ['year', 'month', 'age', 'sex', 'race', 'marital_stat', 'population_stat', 'veteran_stat', 'immigration_year', 'citizenship', 'nativity', 'hispanic', 'employment_stat', 'labor_force_stat', 'occupation', 'industry', 'worker_class', 'hours_worked', 'work_stat', 'education', 'health_stat', 'income_wage', 'reason_move', 'disability_stat', 'quit_sick', 'insurance']
final_df.columns = final_cols
final_df = final_df.apply(pd.to_numeric)
final_df.head()

,year,month,age,sex,race,marital_stat,population_stat,veteran_stat,immigration_year,citizenship,...,worker_class,hours_worked,work_stat,education,health_stat,income_wage,reason_move,disability_stat,quit_sick,insurance
0,2000,03,51,2,100,4,1,1,1949,3,...,27,048,11,125,4,46000011,21,0,0,00
1,2000,03,17,1,100,6,1,1,0000,1,...,21,010,41,050,2,00000110,00,0,0,00
2,2000,03,77,2,100,5,1,1,0000,1,...,00,999,99,081,2,10000000,00,0,0,00
3,2000,03,22,1,100,6,1,1,0000,1,...,21,043,11,081,1,20000011,22,0,0,00
4,2000,03,48,2,100,4,1,1,0000,1,...,21,039,11,073,2,00000011,21,0,0,00

In [29]:
# split dataset in half for github upload
final_1 = final_df[final_df['year'].between(2003,2012)]
final_2 = final_df[final_df['year'].between(2013,2022)]

In [30]:
# export final_1 and final_2 to csv
final_1.to_csv('w209_final_data_2003_2012.csv')
final_2.to_csv('w209_final_data_2013_2022.csv')