In [1]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
df_2003_2012 = pd.read_csv('w209_final_data_2003_2012.csv.zip')

In [3]:
df_2003_2012.shape

(2086022, 27)

In [4]:
df_2003_2012.head()

   Unnamed: 0  year  month  age  sex  race  marital_stat  population_stat  veteran_stat  immigration_year  citizenship  nativity  hispanic  employment_stat  labor_force_stat  occupation  industry  worker_class  hours_worked  work_stat  education  health_stat  income_wage  reason_move  disability_stat  quit_sick  insurance
0      569198  2003      3   39    2   100             4                1             1                 0            1         1         0               10                 2        4510      8980            21            30         41         92            4         1011            0                0          0          0
1      569199  2003      3   14    2   100             6                3             0                 0            1         1         0                0                 0           0         0             0           999         99          1            9     99999991            0                0          0          0
2      569200  2003      3   12    1   100             6                3             0                 0            1         1         0                0                 0           0         0             0           999         99          1            9     99999991            0                0          0          0
3      569201  2003      3   66    2   100             5                1             1                 0            1         1         0               36                 1           0         0             0           999         99         73            1      2100000            0                0          0          0
4      569202  2003      3   78    1   100             6                1             2                 0            1         4         0               36                 1           0         0             0           999         99         81            2     10000000            0                0          0          0

In [5]:
df_2003_2012 = df_2003_2012.iloc[:, 1:]
df_2003_2012.shape

(2086022, 26)

In [6]:
df_2003_2012.head()

   year  month  age  sex  race  marital_stat  population_stat  veteran_stat  immigration_year  citizenship  nativity  hispanic  employment_stat  labor_force_stat  occupation  industry  worker_class  hours_worked  work_stat  education  health_stat  income_wage  reason_move  disability_stat  quit_sick  insurance
0  2003      3   39    2   100             4                1             1                 0            1         1         0               10                 2        4510      8980            21            30         41         92            4         1011            0                0          0          0
1  2003      3   14    2   100             6                3             0                 0            1         1         0                0                 0           0         0             0           999         99          1            9     99999991            0                0          0          0
2  2003      3   12    1   100             6                3             0                 0            1         1         0                0                 0           0         0             0           999         99          1            9     99999991            0                0          0          0
3  2003      3   66    2   100             5                1             1                 0            1         1         0               36                 1           0         0             0           999         99         73            1      2100000            0                0          0          0
4  2003      3   78    1   100             6                1             2                 0            1         4         0               36                 1           0         0             0           999         99         81            2     10000000            0                0          0          0

In [7]:
df_2013_2022 = pd.read_csv('w209_final_data_2013_2022.csv.zip')

In [8]:
df_2013_2022.shape

(1807034, 27)

In [9]:
df_2013_2022.head()

   Unnamed: 0  year  month  age  sex  race  marital_stat  population_stat  veteran_stat  immigration_year  citizenship  nativity  hispanic  employment_stat  labor_force_stat  occupation  industry  worker_class  hours_worked  work_stat  education  health_stat  income_wage  reason_move  disability_stat  quit_sick  insurance
0     2655220  2013      3   57    1   100             4                1             1                 0            1         1         0               32                 1           0         0             0           999         99         73            2            0            0                2          2          0
1     2655221  2013      3   45    2   100             1                1             1                 0            1         1         0               10                 2        9120      7860            21            38         11         81            1        22000            0                1          1         21
2     2655222  2013      3   40    1   100             1                1             2                 0            1         1         0               10                 2        7220       770            28            40         11         91            1        26000            0                1          1          0
3     2655223  2013      3   66    1   100             5                1             1                 0            1         1         0               32                 1           0         0             0           999         99         50            2            0            0                2          1          0
4     2655224  2013      3   59    1   100             1                1             1                 0            1         1         0               12                 2        6230       770            13           997         13         73            1            0            0                1          1          0

In [10]:
df_2013_2022 = df_2013_2022.iloc[:, 1:]
df_2013_2022.shape

(1807034, 26)

In [11]:
df_2013_2022.head()

   year  month  age  sex  race  marital_stat  population_stat  veteran_stat  immigration_year  citizenship  nativity  hispanic  employment_stat  labor_force_stat  occupation  industry  worker_class  hours_worked  work_stat  education  health_stat  income_wage  reason_move  disability_stat  quit_sick  insurance
0  2013      3   57    1   100             4                1             1                 0            1         1         0               32                 1           0         0             0           999         99         73            2            0            0                2          2          0
1  2013      3   45    2   100             1                1             1                 0            1         1         0               10                 2        9120      7860            21            38         11         81            1        22000            0                1          1         21
2  2013      3   40    1   100             1                1             2                 0            1         1         0               10                 2        7220       770            28            40         11         91            1        26000            0                1          1          0
3  2013      3   66    1   100             5                1             1                 0            1         1         0               32                 1           0         0             0           999         99         50            2            0            0                2          1          0
4  2013      3   59    1   100             1                1             1                 0            1         1         0               12                 2        6230       770            13           997         13         73            1            0            0                1          1          0

**Variables to recode:** Occupation, CIT, NATIVITY, HISPAN, EMPSTATE, LABFORCE, QUITSICK, PAIDGH, DIFFANY, INCWAGE, WHYMOVE, DISABWRK

In [12]:
variables = ['citizenship', 
             'employment_stat', 
             'hispanic', 
             'insurance', 
             'labor_force_stat', 
             'nativity', 
             'quit_sick',
             'disability_stat',
             'income_wage',
             'reason_move',
             'disability_stat'
            ]

In [13]:
citizenship_values_dict = {1: 'Born in U.S.',
                           2: 'Born in U.S. outlying',
                           3: 'Born abroad of American parents',
                           4: 'Naturalized citizen',
                           5: 'Not a citizen',
                           9: 'NIU'
                          }

In [14]:
employment_stat_values_dict = {0: 'NIU',
                               1: 'Armed Forces',
                               10: 'At work',
                               12: 'Has job, not at work last week',
                               20: 'Unemployed',
                               21: 'Unemployed, experienced worker',
                               22: 'Unemployed, new worker',
                               30: 'Not in labor force',
                               31: 'NILF, housework',
                               32: 'NILF, unable to work',
                               33: 'NILF, school',
                               34: 'NILF, other',
                               35: 'NILF, unpaid, lt 15 hours',
                               36: 'NILF, retired'
                              }

In [15]:
hispanic_values_dict = {0: 'Not Hispanic',
                        100: 'Mexican',
                        102: 'Mexican American', 
                        103: 'Mexicano/Mexicana',
                        104: 'Chicano/Chicana',
                        108: 'Mexican (Mexicano)',
                        109: 'Mexicano/Chicano',
                        200: 'Puerto Rican',
                        300: 'Cuban', 
                        400: 'Domincan',
                        500: 'Salvadoran',
                        600: 'Other Hispanic',
                        610: 'Central/South American',
                        611: 'Central American (excluding Salvadorean)',
                        612: 'South American'
                       }

In [16]:
insurance_values_dict = {0: 'NIU',
                         10: 'No',
                         20: 'Yes',
                         21: 'Yes, paid for part',
                         22: 'Yes, paid for all'
                        }

In [17]:
labor_force_stat_values_dict = {0: 'NIU',
                                1: 'No, not in the labor force',
                                2: 'Yes, in the labor force'
                               }

In [18]:
nativity_values_dict = {0: 'Unknown',
                        1: 'Both parents native-born',
                        2: 'Father foreign, mother native',
                        3: 'Mother foreign, father native',
                        4: 'Both parents foreign',
                        5: 'Foreign born'
                       }

In [19]:
quit_sick_values_dict = {0: 'NIU',
                         1: 'No, did not quit job or retire',
                         2: 'Yes, quit job or retired'
                        }

In [20]:
health_stat_values_dict = {0: 'NIU',
                         1: 'No difficulty',
                         2: 'Has difficulty'
                        }

In [21]:
income_wage_values_dict = {99999999: 'NIU'}

In [22]:
reason_move_values_dict = {0: 'NIU',
                           1: 'Change in marital status',
                           2: 'To establish own household',
                           3: 'Other family reason',
                           4: 'New job or job transfer',
                           5: 'To look for work or lost job',
                           6: 'For easier commute',
                           7: 'Retired',
                           8: 'Other job-related reason',
                           9: 'Wanted to own home, not rent',
                           10: 'Wanted new or better housing',
                           11: 'Wanted better neighborhood',
                           12: 'For cheaper housing',
                           13: 'Other housing reason',
                           14: 'Attend/leave college',
                           15: 'Change of climate',
                           16: 'Health reasons',
                           17: 'Other reasons',
                           18: 'Natural disaster',
                           19: 'Foreclosure or eviction',
                           20: 'Relationship with unmarried partner'
                           }

In [23]:
disability_stat_values_dict = {0: 'NIU',
                               1: 'No disability that affects work',
                               2: 'Disability limits or prevents work'}

In [24]:
dicts = [citizenship_values_dict, 
         employment_stat_values_dict,
         hispanic_values_dict,
         insurance_values_dict,
         labor_force_stat_values_dict,
         nativity_values_dict,
         quit_sick_values_dict,
         health_stat_values_dict,
         income_wage_values_dict,
         reason_move_values_dict,
         disability_stat_values_dict
        ]

In [25]:
variable_values_dict = dict(zip(variables, dicts))

In [26]:
for df in [df_2003_2012, df_2013_2022]:
    for k in variable_values_dict.keys():
        new_col_name = k + '_text'
        df[new_col_name] = df[k].map(variable_values_dict[k])

In [27]:
df_2003_2012.head(100)

    year  month  age  sex  race  marital_stat  population_stat  veteran_stat  immigration_year  citizenship  nativity  hispanic  employment_stat  labor_force_stat  occupation  industry  worker_class  hours_worked  work_stat  education  health_stat  income_wage  reason_move  disability_stat  quit_sick  insurance                 citizenship_text            employment_stat_text hispanic_text insurance_text       labor_force_stat_text                  nativity_text quit_sick_text disability_stat_text income_wage_text                     reason_move_text
0   2003      3   39    2   100             4                1             1                 0            1         1         0               10                 2        4510      8980            21            30         41         92            4         1011            0                0          0          0                     Born in U.S.                         At work  Not Hispanic            NIU     Yes, in the labor force       Both parents native-born            NIU                  NIU              NaN                                  NIU
1   2003      3   14    2   100             6                3             0                 0            1         1         0                0                 0           0         0             0           999         99          1            9     99999991            0                0          0          0                     Born in U.S.                             NIU  Not Hispanic            NIU                         NIU       Both parents native-born            NIU                  NIU              NaN                                  NIU
2   2003      3   12    1   100             6                3             0                 0            1         1         0                0                 0           0         0             0           999         99          1            9     99999991            0                0          0          0                     Born in U.S.                             NIU  Not Hispanic            NIU                         NIU       Both parents native-born            NIU                  NIU              NaN                                  NIU
3   2003      3   66    2   100             5                1             1                 0            1         1         0               36                 1           0         0             0           999         99         73            1      2100000            0                0          0          0                     Born in U.S.                   NILF, retired  Not Hispanic            NIU  No, not in the labor force       Both parents native-born            NIU                  NIU              NaN                                  NIU
4   2003      3   78    1   100             6                1             2                 0            1         4         0               36                 1           0         0             0           999         99         81            2     10000000            0                0          0          0                     Born in U.S.                   NILF, retired  Not Hispanic            NIU  No, not in the labor force           Both parents foreign            NIU                  NIU              NaN                                  NIU
5   2003      3   54    2   200             1                1             1                 0            1         1         0               10                 2        4760      5190            21            15         41        111            9          220            0                0          0          0                     Born in U.S.                         At work  Not Hispanic            NIU     Yes, in the labor force       Both parents native-born            NIU                  NIU              NaN                                  NIU
6   2003      3   59    1   100             1                1             1                 0            1         1         0               10                 2        4240      7690            21            30         41        111            4           11            0                0          0          0                     Born in U.S.                         At work  Not Hispanic            NIU     Yes, in the labor force       Both parents native-born            NIU                  NIU              NaN                                  NIU
7   2003      3   45    2   100             1                1             1                 0            1         1         0               10                 2        4230      7690            13             6         41         73            1     10000000            0                0          0          0                     Born in U.S.                         At work  Not Hispanic            NIU     Yes, in the labor force       Both parents native-born            NIU                  NIU              NaN                                  NIU
8   2003      3   47    1   100             1                1             2                 0            1         1         0               10                 2        7330      3680            25            40         11         73            5     20000011           21                0          0          0                     Born in U.S.                         At work  Not Hispanic            NIU     Yes, in the labor force       Both parents native-born            NIU                  NIU              NaN                                  NaN
9   2003      3   11    2   100             6                3             0                 0            1         1         0                0                 0           0         0             0           999         99          1            9     99999990            0                0          0          0                     Born in U.S.                             NIU  Not Hispanic            NIU                         NIU       Both parents native-born            NIU                  NIU              NaN                                  NIU
10  2003      3   51    1   100             1                1             2                 0            1         3         0               10                 2        4710      8770            14            45         11         73            4     57680011            0                0          0          0                     Born in U.S.                         At work  Not Hispanic            NIU     Yes, in the labor force  Mother foreign, father native            NIU                  NIU              NaN                                  NIU
11  2003      3   46    2   100             1                1             1                 0            1         1         0               10                 2        4700      4970            21            40         11        111            2     25000011           21                0          0          0                     Born in U.S.                         At work  Not Hispanic            NIU     Yes, in the labor force       Both parents native-born            NIU                  NIU              NaN                                  NaN
12  2003      3   16    1   100             6                1             1                 0            1         1         0               12                 2        4020      8680            21             4         42         50            6     50000110            0                0          0          0                     Born in U.S.  Has job, not at work last week  Not Hispanic            NIU     Yes, in the labor force       Both parents native-born            NIU                  NIU              NaN                                  NIU
13  2003      3   13    2   100             6                3             0                 0            1         1         0                0                 0           0         0             0           999         99          1            9     99999990            0                0          0          0                     Born in U.S.                             NIU  Not Hispanic            NIU                         NIU       Both parents native-born            NIU                  NIU              NaN                                  NIU
14  2003      3   63    1   100             1                1             2                 0            1         3         0               36                 1           0         0             0           999         99         73            1     10000000            0                0          0          0                     Born in U.S.                   NILF, retired  Not Hispanic            NIU  No, not in the labor force  Mother foreign, father native            NIU                  NIU              NaN                                  NIU
15  2003      3   65    2   100             1                1             1                 0            1         1         0               36                 1           0         0             0           999         99         92            1     10000000            0                0          0          0                     Born in U.S.                   NILF, retired  Not Hispanic            NIU  No, not in the labor force       Both parents native-born            NIU                  NIU              NaN                                  NIU
16  2003      3   67    2   100             4                1             1                 0            1         1         0               10                 2          50      7070            21            32         41        111            1     65000011            0                0          0          0                     Born in U.S.                         At work  Not Hispanic            NIU     Yes, in the labor force       Both parents native-born            NIU                  NIU              NaN                                  NIU
17  2003      3   43    2   100             1                1             1                 0            1         1         0               34                 1           0         0             0           999         99        111            1     10000000            0                0          0          0                     Born in U.S.                     NILF, other  Not Hispanic            NIU  No, not in the labor force       Both parents native-born            NIU                  NIU              NaN                                  NIU
18  2003      3   64    1   100             1                1             2                 0            1         1         0               36                 1           0         0             0           999         99        123            1     12100000            0                0          0          0                     Born in U.S.                   NILF, retired  Not Hispanic            NIU  No, not in the labor force       Both parents native-born            NIU                  NIU              NaN                                  NIU
19  2003      3   14    2   100             6                3             0                 0            1         1         0                0                 0           0         0             0           999         99          1            9     99999990            0                0          0          0                     Born in U.S.                             NIU  Not Hispanic            NIU                         NIU       Both parents native-born            NIU                  NIU              NaN                                  NIU
20  2003      3   12    1   100             6                3             0                 0            1         1         0                0                 0           0         0             0           999         99          1            9     99999990            0                0          0          0                     Born in U.S.                             NIU  Not Hispanic            NIU                         NIU       Both parents native-born            NIU                  NIU              NaN                                  NIU
21  2003      3    8    1   100             6                3             0                 0            1         1         0                0                 0           0         0             0           999         99          1            9     99999990            0                0          0          0                     Born in U.S.                             NIU  Not Hispanic            NIU                         NIU       Both parents native-born            NIU                  NIU              NaN                                  NIU
22  2003      3   74    2   100             5                1             1                 0            1         1         0               36                 1           0         0             0           999         99        123            2     10000000            0                0          0          0                     Born in U.S.                   NILF, retired  Not Hispanic            NIU  No, not in the labor force       Both parents native-born            NIU                  NIU              NaN                                  NIU
23  2003      3   36    1   100             1                1             1                 0            1         1         0               10                 2        3130      8190            21            36         11         92            7           11           21                0          0          0                     Born in U.S.                         At work  Not Hispanic            NIU     Yes, in the labor force       Both parents native-born            NIU                  NIU              NaN                                  NaN
24  2003      3   34    2   100             1                1             1                 0            1         1         0               34                 1           0         0             0           999         99         73            1     10000000            0                0          0          0                     Born in U.S.                     NILF, other  Not Hispanic            NIU  No, not in the labor force       Both parents native-born            NIU                  NIU              NaN                                  NIU
25  2003      3   13    1   100             6                3             0                 0            1         1         0                0                 0           0         0             0           999         99          1            9     99999990            0                0          0          0                     Born in U.S.                             NIU  Not Hispanic            NIU                         NIU       Both parents native-born            NIU                  NIU              NaN                                  NIU
26  2003      3    1    2   100             6                3             0                 0            1         1         0                0                 0           0         0             0           999         99          1            9     99999990            0                0          0          0                     Born in U.S.                             NIU  Not Hispanic            NIU                         NIU       Both parents native-born            NIU                  NIU              NaN                                  NIU
27  2003      3   31    2   100             1                1             1                 0            1         1         0               10                 2        3130      8190            21            40         11        111            4     50000011           21                0          0          0                     Born in U.S.                         At work  Not Hispanic            NIU     Yes, in the labor force       Both parents native-born            NIU                  NIU              NaN                                  NaN
28  2003      3   39    1   100             1                1             1                 0            1         1         0               10                 2         430      1990            14            40         11         81            5           11           21                0          0          0                     Born in U.S.                         At work  Not Hispanic            NIU     Yes, in the labor force       Both parents native-born            NIU                  NIU              NaN                                  NaN
29  2003      3   73    1   100             1                1             2                 0            1         1         0               36                 1           0         0             0           999         99         73            1     10000000            0                0          0          0                     Born in U.S.                   NILF, retired  Not Hispanic            NIU  No, not in the labor force       Both parents native-born            NIU                  NIU              NaN                                  NIU
30  2003      3   59    2   100             1                1             1                 0            1         1         0               10                 2        5860      9590            25            40         12         81            2     70000011           21                0          0          0                     Born in U.S.                         At work  Not Hispanic            NIU     Yes, in the labor force       Both parents native-born            NIU                  NIU              NaN                                  NaN
31  2003      3   80    1   100             1                1             2                 0            1         2         0               36                 1           0         0             0           999         99         73            1     12100000            0                0          0          0                     Born in U.S.                   NILF, retired  Not Hispanic            NIU  No, not in the labor force  Father foreign, mother native            NIU                  NIU              NaN                                  NIU
32  2003      3   80    2   100             1                1             1                 0            1         1         0               36                 1           0         0             0           999         99         73            2     10000000            0                0          0          0                     Born in U.S.                   NILF, retired  Not Hispanic            NIU  No, not in the labor force       Both parents native-born            NIU                  NIU              NaN                                  NIU
33  2003      3   80    2   100             1                1             1                 0            1         1         0               36                 1           0         0             0           999         99         73            1     10000000            0                0          0          0                     Born in U.S.                   NILF, retired  Not Hispanic            NIU  No, not in the labor force       Both parents native-born            NIU                  NIU              NaN                                  NIU

In [28]:
df_2013_2022.head(100)

    year  month  age  sex  race  marital_stat  population_stat  veteran_stat  immigration_year  citizenship  nativity  hispanic  employment_stat  labor_force_stat  occupation  industry  worker_class  hours_worked  work_stat  education  health_stat  income_wage  reason_move  disability_stat  quit_sick  insurance                 citizenship_text            employment_stat_text hispanic_text      insurance_text       labor_force_stat_text                  nativity_text                  quit_sick_text                disability_stat_text income_wage_text              reason_move_text
0   2013      3   57    1   100             4                1             1                 0            1         1         0               32                 1           0         0             0           999         99         73            2            0            0                2          2          0                     Born in U.S.            NILF, unable to work  Not Hispanic                 NIU  No, not in the labor force       Both parents native-born        Yes, quit job or retired  Disability limits or prevents work              NaN                           NIU
1   2013      3   45    2   100             1                1             1                 0            1         1         0               10                 2        9120      7860            21            38         11         81            1        22000            0                1          1         21                     Born in U.S.                         At work  Not Hispanic  Yes, paid for part     Yes, in the labor force       Both parents native-born  No, did not quit job or retire     No disability that affects work              NaN                           NIU
2   2013      3   40    1   100             1                1             2                 0            1         1         0               10                 2        7220       770            28            40         11         91            1        26000            0                1          1          0                     Born in U.S.                         At work  Not Hispanic                 NIU     Yes, in the labor force       Both parents native-born  No, did not quit job or retire     No disability that affects work              NaN                           NIU
3   2013      3   66    1   100             5                1             1                 0            1         1         0               32                 1           0         0             0           999         99         50            2            0            0                2          1          0                     Born in U.S.            NILF, unable to work  Not Hispanic                 NIU  No, not in the labor force       Both parents native-born  No, did not quit job or retire  Disability limits or prevents work              NaN                           NIU
4   2013      3   59    1   100             1                1             1                 0            1         1         0               12                 2        6230       770            13           997         13         73            1            0            0                1          1          0                     Born in U.S.  Has job, not at work last week  Not Hispanic                 NIU     Yes, in the labor force       Both parents native-born  No, did not quit job or retire     No disability that affects work              NaN                           NIU
5   2013      3   59    2   100             1                1             1                 0            1         1         0               36                 1           0         0             0           999         99         73            1            0            0                1          1          0                     Born in U.S.                   NILF, retired  Not Hispanic                 NIU  No, not in the labor force       Both parents native-born  No, did not quit job or retire     No disability that affects work              NaN                           NIU
6   2013      3   62    2   100             1                1             1                 0            1         1         0               10                 2        3255      7860            21            40         11        111            2        45000            0                1          1         21                     Born in U.S.                         At work  Not Hispanic  Yes, paid for part     Yes, in the labor force       Both parents native-born  No, did not quit job or retire     No disability that affects work              NaN                           NIU
7   2013      3   63    1   100             1                1             1                 0            1         1         0               10                 2        2310      7860            27            40         11        111            1         6000            0                1          1          0                     Born in U.S.                         At work  Not Hispanic                 NIU     Yes, in the labor force       Both parents native-born  No, did not quit job or retire     No disability that affects work              NaN                           NIU
8   2013      3   30    1   100             1                1             1                 0            1         1         0               10                 2        7220       770            21           997         11         73            1        40000            0                1          1          0                     Born in U.S.                         At work  Not Hispanic                 NIU     Yes, in the labor force       Both parents native-born  No, did not quit job or retire     No disability that affects work              NaN                           NIU
9   2013      3   26    2   100             1                1             1                 0            1         1         0               34                 1           0         0             0           999         99         73            1         3472            0                1          1         21                     Born in U.S.                     NILF, other  Not Hispanic  Yes, paid for part  No, not in the labor force       Both parents native-born  No, did not quit job or retire     No disability that affects work              NaN                           NIU
10  2013      3    3    2   100             6                3             0                 0            1         1         0                0                 0           0         0             0           999         99          1            0     99999999            0                0          0          0                     Born in U.S.                             NIU  Not Hispanic                 NIU                         NIU       Both parents native-born                             NIU                                 NIU              NIU                           NIU
11  2013      3    0    2   100             6                3             0                 0            1         1         0                0                 0           0         0             0           999         99          1            0     99999999            0                0          0          0                     Born in U.S.                             NIU  Not Hispanic                 NIU                         NIU       Both parents native-born                             NIU                                 NIU              NIU                           NIU
12  2013      3   73    1   100             1                1             2                 0            1         1         0               36                 1           0         0             0           999         99         73            1            0            0                1          1          0                     Born in U.S.                   NILF, retired  Not Hispanic                 NIU  No, not in the labor force       Both parents native-born  No, did not quit job or retire     No disability that affects work              NaN                           NIU
13  2013      3   69    2   100             1                1             1                 0            1         1         0               36                 1           0         0             0           999         99         73            1            0            0                1          1          0                     Born in U.S.                   NILF, retired  Not Hispanic                 NIU  No, not in the labor force       Both parents native-born  No, did not quit job or retire     No disability that affects work              NaN                           NIU
14  2013      3   45    1   100             6                1             1                 0            1         1         0               21                 2        2900      6670            13           999         50        111            1            0            0                1          1          0                     Born in U.S.  Unemployed, experienced worker  Not Hispanic                 NIU     Yes, in the labor force       Both parents native-born  No, did not quit job or retire     No disability that affects work              NaN                           NIU
15  2013      3   27    2   100             1                1             1                 0            1         1         0               10                 2        4110      8680            21            11         41         73            1         7500            0                1          1          0                     Born in U.S.                         At work  Not Hispanic                 NIU     Yes, in the labor force       Both parents native-born  No, did not quit job or retire     No disability that affects work              NaN                           NIU
16  2013      3   29    1   100             1                1             1                 0            1         1         0               10                 2        7700      1090            21            40         11         73            1        36500            0                1          1         21                     Born in U.S.                         At work  Not Hispanic  Yes, paid for part     Yes, in the labor force       Both parents native-born  No, did not quit job or retire     No disability that affects work              NaN                           NIU
17  2013      3   10    1   100             6                3             0                 0            1         1         0                0                 0           0         0             0           999         99          1            0     99999999            0                0          0          0                     Born in U.S.                             NIU  Not Hispanic                 NIU                         NIU       Both parents native-born                             NIU                                 NIU              NIU                           NIU
18  2013      3    4    1   100             6                3             0                 0            1         1         0                0                 0           0         0             0           999         99          1            0     99999999            0                0          0          0                     Born in U.S.                             NIU  Not Hispanic                 NIU                         NIU       Both parents native-born                             NIU                                 NIU              NIU                           NIU
19  2013      3   40    1   100             1                1             2                 0            1         1         0               10                 2        3710      9470            27            40         11         73            1        29000            0                1          1          0                     Born in U.S.                         At work  Not Hispanic                 NIU     Yes, in the labor force       Both parents native-born  No, did not quit job or retire     No disability that affects work              NaN                           NIU
20  2013      3   40    2   100             1                1             1                 0            1         1         0               10                 2        4220      7690            21            40         11         91            1        15000            0                1          1          0                     Born in U.S.                         At work  Not Hispanic                 NIU     Yes, in the labor force       Both parents native-born  No, did not quit job or retire     No disability that affects work              NaN                           NIU
21  2013      3   19    2   100             6                1             1                 0            1         1         0               34                 1           0         0             0           999         99         73            1         1300            0                1          1          0                     Born in U.S.                     NILF, other  Not Hispanic                 NIU  No, not in the labor force       Both parents native-born  No, did not quit job or retire     No disability that affects work              NaN                           NIU
22  2013      3   15    2   100             6                1             0                 0            1         1         0               34                 1           0         0             0           999         99         40            1            0            0                1          1          0                     Born in U.S.                     NILF, other  Not Hispanic                 NIU  No, not in the labor force       Both parents native-born  No, did not quit job or retire     No disability that affects work              NaN                           NIU
23  2013      3   12    2   100             6                3             0                 0            1         1         0                0                 0           0         0             0           999         99          1            0     99999999            0                0          0          0                     Born in U.S.                             NIU  Not Hispanic                 NIU                         NIU       Both parents native-born                             NIU                                 NIU              NIU                           NIU
24  2013      3   35    2   100             1                1             1                 0            1         1         0               10                 2        3600      8270            21            37         11         73            1        15800            0                1          1         10                     Born in U.S.                         At work  Not Hispanic                  No     Yes, in the labor force       Both parents native-born  No, did not quit job or retire     No disability that affects work              NaN                           NIU
25  2013      3   36    1   100             1                1             1                 0            1         1         0               10                 2        9130      6290            13            40         11         40            1            0            0                1          1          0                     Born in U.S.                         At work  Not Hispanic                 NIU     Yes, in the labor force       Both parents native-born  No, did not quit job or retire     No disability that affects work              NaN                           NIU
26  2013      3   17    2   100             6                1             1                 0            1         1         0               34                 1           0         0             0           999         99         60            1            0            0                1          1          0                     Born in U.S.                     NILF, other  Not Hispanic                 NIU  No, not in the labor force       Both parents native-born  No, did not quit job or retire     No disability that affects work              NaN                           NIU
27  2013      3   14    1   100             6                3             0                 0            1         1         0                0                 0           0         0             0           999         99          1            0     99999999            0                0          0          0                     Born in U.S.                             NIU  Not Hispanic                 NIU                         NIU       Both parents native-born                             NIU                                 NIU              NIU                           NIU
28  2013      3   64    1   100             1                1             2                 0            1         1         0               10                 2        3850      9470            25            40         11         92            1        66000            0                1          1         21                     Born in U.S.                         At work  Not Hispanic  Yes, paid for part     Yes, in the labor force       Both parents native-born  No, did not quit job or retire     No disability that affects work              NaN                           NIU
29  2013      3   62    2   100             1                1             1                 0            1         1         0               36                 1           0         0             0           999         99        123            2            0            0                1          1          0                     Born in U.S.                   NILF, retired  Not Hispanic                 NIU  No, not in the labor force       Both parents native-born  No, did not quit job or retire     No disability that affects work              NaN                           NIU
30  2013      3   57    1   100             1                1             1                 0            1         1         0               10                 2        9120      7860            21            40         11         73            1        28000           10                1          1         22                     Born in U.S.                         At work  Not Hispanic   Yes, paid for all     Yes, in the labor force       Both parents native-born  No, did not quit job or retire     No disability that affects work              NaN  Wanted new or better housing
31  2013      3   70    2   100             1                1             1                 0            1         1         0               10                 2        4220      7690            21            10         41         73            2         6000           10                1          1          0                     Born in U.S.                         At work  Not Hispanic                 NIU     Yes, in the labor force       Both parents native-born  No, did not quit job or retire     No disability that affects work              NaN  Wanted new or better housing
32  2013      3   36    1   100             6                1             1                 0            1         1         0               21                 2        6230       770            21           999         50         92            1            0           10                1          1          0                     Born in U.S.  Unemployed, experienced worker  Not Hispanic                 NIU     Yes, in the labor force       Both parents native-born  No, did not quit job or retire     No disability that affects work              NaN  Wanted new or better housing